    ------
    Developer
    ------
    Hendrik Schreiber
    ------
    ------

Developer

    You can only build this library on macOS.

    To do so, you also need:

        * git

        * Maven 3.6.0 or later, {{https://maven.apache.org/}}

        * Apple Command Line Tools, available via {{https://developer.apple.com/}}, or XCode, {{https://developer.apple.com/xcode/}}

        * a JDK (to run Maven and get the macOS JNI headers)

        * Doxygen, e.g. available via {{{https://www.macports.org}MacPorts}} or {{{https://brew.sh}HomeBrew}}

    Once you have all this set up, clone the repository like this:

+-------------------------------+
git clone git@github.com:hendriks73/casampledsp.git casampledsp
+-------------------------------+

    Then build with:

+-------------------------------+
mvn clean install
+-------------------------------+

    Note: the <<<macos-latest>>> GitHub Actions CI runner is ARM64 (Apple Silicon). Both x86_64 and
    arm64 native libraries are always built together in a single Maven run via cross-compilation.

    To enable C-level debug output during development, pass <<<-Dcflags=-DDEBUG>>>:

+-------------------------------+
mvn clean install -Dcflags=-DDEBUG
+-------------------------------+
