    ------
    Developer
    ------
    Hendrik Schreiber
    ------
    ------

Developer

    You can only build this library on macOS.

    To do so, you also need:

        * git

        * Maven 3.0.5 or later, {{http://maven.apache.org/}}

        * Apple Command Line Tools, available via {{https://developer.apple.com/}}, or XCode, {{https://developer.apple.com/xcode/}}

        * a JDK (to run Maven and get the macOS JNI headers)

        * Doxygen, e.g. available via {{{http://www.macports.org}MacPorts}} or {{{https://brew.sh}HomeBrew}}

    Once you have all this set up, clone the repository like this:

+-------------------------------+
git clone git@github.com:hendriks73/casampledsp.git casampledsp
+-------------------------------+

    Then you still need to adjust some properties in the parent <<<pom.xml>>>.
    Or.. simply override them using <<<-Dname=value>>> notation. E.g. to point to your
    JDK's JNI headers, add

+-------------------------------+
-Ddarwin.headers.jni=/Library/Java/JavaVirtualMachines/jdk-10.jdk/Contents/Home/include/
+-------------------------------+

    to your mvn call.
    You might also need to change <<<mmacosx-version-min>>> and <<<isysroot>>>, if you
    don't have an OS X 10.7 SDK installed.

    So all in all, something like the following might work for you, depending on where
    you installed the macOS SDK, and the macOS JDK:

+-------------------------------+
mvn -Ddarwin.headers.jni=/Library/Java/JavaVirtualMachines/jdk-10.jdk/Contents/Home/include/ \
    -Dmmacosx-version-min=10.7 \
    -Disysroot=/Applications/Xcode.app/Contents/Developer/Platforms/MacOSX.platform/Developer/SDKs/MacOSX.sdk \
    clean install
+-------------------------------+
