    ------
    Introduction
    ------
    Hendrik Schreiber
    ------
    ------

Introduction

    <CASampledSP> is a free implementation of the
    {{{http://docs.oracle.com/javase/10/docs/api/javax/sound/sampled/spi/package-summary.html}javax.sound.sampled.spi}}
    interfaces. It is part of the {{{http://www.tagtraum.com/sampledsp.html}SampledSP}} collection of
    <<<javax.sound.sampled>>> libraries.

    Its main purpose is to decode audio from various formats at high speed. Examples for supported
    formats are MP3 or AAC. That said, <CASampledSP> more or less supports all formats also supported by
    Apple's Core Audio.


* Getting Started

    The easiest way to use <CASampledSP> (other than simply using the
    {{{http://www.beatunes.com/repo/maven2/com/tagtraum/casampledsp-complete/${projectversion}/casampledsp-complete-${projectversion}.jar}jar}}
    is to start a {{{http://maven.apache.org/}Maven}} project and introduce a <CASampledSP> dependency.

    To do so, add something like this to the dependencies section of your pom:

+-------------------------------+
<dependency>
    <groupId>com.tagtraum</groupId>
    <artifactId>casampledsp-complete</artifactId>
    <version>${projectversion}</version>
</dependency>
+-------------------------------+

    To use the library, simply use the <<<javax.sound.sampled>>> classes like you normally would.

* Requirements

    <CASampledSP> requires OS X 10.6 or later and an Intel processor. Both 32 bit and 64 bit are supported.

* Alternatives

    For a cross platform service provider implementation featuring free formats like FLAC and OGG, take a look at
    {{{http://www.tagtraum.com/ffsampledsp/}FFSampledSP}}.

    For a 32/64 bit service provider implementation for Windows 7 or later, based on Microsoft's Media Foundation,
    check out {{{http://www.tagtraum.com/mfsampledsp/}MFSampledSP}}.
